<div class="container mt-5">
    <h2>Ajouter un élève</h2>
  
    <!--- 
    <form [formGroup]="addAvisForm" class="container mx-auto py-3">
      
        
          <div class="formGroup">
            <label for="avis">Ecriver votre avisaire</label>
            <input
              type="text"
              id="avis"
              formControlName="avis"
              class="form-control"
            />
          
        </div>
  
      <button type="submit" class="col-3 btn btn-primary my-3 mx-3" (click)="addAvis()">Valider</button>
    </form>
  </div>
  --->
