<div class="sketchfab-embed-wrapper" style="width: 100%; height: 300px;">
  <iframe 
    title="Voiture LOWPOLY" 
    frameborder="0" 
    allowfullscreen 
    mozallowfullscreen="true" 
    webkitallowfullscreen="true" 
    allow="autoplay; fullscreen; xr-spatial-tracking" 
    xr-spatial-tracking 
    execution-while-out-of-viewport 
    execution-while-not-rendered 
    web-share 
    width="100%" 
    height="100%" 
    src="https://sketchfab.com/models/52e59f5dae3a4161bd3c80f7227cb598/embed?autostart=1&camera=0">
  </iframe>
</div>