<div class="container mt-5">
  <h2>Modifier un test</h2>

  
  <form [formGroup]="putTestForm" class="container mx-auto py-3" *ngFor="let test of listeTest; let i = index">
    
      
      <div class="formGroup">
          <label for="theme{{i}}">Thème:</label>
          <input
            type="text"
            id="theme{{i}}"
            formControlName="theme"
            class="form-control"
            [ngModel]="test.theme"
            placeholder="{{ test.theme }}"
          />
      </div>

      
      <div class="formGroup">
          <label for="date{{i}}">Date de passage:</label>
          <input
            type="date"
            id="date{{i}}"
            formControlName="date"
            class="form-control"
            [ngModel]="test.date"
            placeholder="{{ test.date }}"
          />
      </div>

      
      <div class="formGroup">
          <label for="score{{i}}">Score:</label>
          <input
            type="number"
            step="0.25"
            id="score{{i}}"
            formControlName="score"
            class="form-control"
            [ngModel]="test.score"
            placeholder="{{ test.score }}"
          />
      </div>

      
      <button type="submit" class="col-3 btn btn-primary my-3 mx-3" (click)="putTest()">Valider</button>
  </form>
</div>