<div class="container mt-5">
  <h2>Modifier un test</h2>

  <form [formGroup]="putTestForm" class="container mx-auto py-3">
    <div class="formGroup">
      <label for="theme">Thème:</label>
      <input type="text" id="theme" formControlName="theme" class="form-control" placeholder="{{ putTestForm.get('theme')?.value }}" />
    </div>

    <div class="formGroup">
      <label for="date">Date de passage:</label>
      <input type="date" id="date" formControlName="date" class="form-control" placeholder="{{ putTestForm.get('date')?.value }}" />
    </div>

    <div class="formGroup">
      <label for="score">Score:</label>
      <input type="number" step="0.25" id="score" formControlName="score" class="form-control" placeholder="{{ putTestForm.get('score')?.value }}"/>
    </div>

    <button type="submit" class="col-3 btn btn-primary my-3 mx-3" (click)="putTest()">Valider</button>
  </form>
</div>
