<div class="container mt-5">
    <h2>Ajouter un élément</h2>
  
    <!-- Formulaire pour ajouter l'élève -->
    <form [formGroup]="addTestForm" class="container mx-auto py-3">
      
        
          <div class="formGroup">
            <label for="theme">Theme: </label>
            <input
              type="text"
              id="theme"
              formControlName="theme"
              class="form-control"
            />
          
        </div>
  
      
        
        <div class="formGroup">
            <label for="timestamp">Date de passage:</label>
            <input
              type="date"
              id="timestamp"
              formControlName="timestamp"
              class="form-control"
            />
          
        </div>
  
        <div class="formGroup">
            <label for="score">Score:</label>
            <input
              type="number" step="0.25"
              id="score"
              formControlName="score"
              class="form-control"
            />
          
        </div>
       
  
      <button type="submit" class="col-3 btn btn-primary my-3 mx-3" (click)="addTest()">Valider</button>
    </form>
  </div>

