<table class="table">
  <thead>
    <tr>
      <th *ngFor="let key of getKeys(data[0])">{{ key | replace: "_" : " " | titlecase }}</th>
      <th *ngIf="data.length > 0 && !disableActions">Actions</th> <!-- Faire disparaitre dans le cas de l'avis-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let key of getKeys(item)">
        <!-- Traitement spécifique pour les champs de validation -->
        <ng-container *ngIf="key === 'validation' || key === 'validation_etg'">
          {{ item[key] === 1 ? 'Oui' : 'Non' }}
        </ng-container>
        <!-- Traitement pour les autres champs -->
        <ng-container *ngIf="key !== 'validation' && key !== 'validation_etg'">
          {{ item[key] }}
        </ng-container>
      </td>
      <td>
        <!-- Bouton Supprimer toujours visible -->
        <button class="btn btn-danger btn-sm me-2" (click)="deleteItem(item)">Supprimer</button>
        <!-- Boutons Ajouter et Modifier a faire disparait dans le cas de l'avis -->
        <ng-container *ngIf="!disableActions">
          <a [routerLink]="getPutRoute(item)" class="btn btn-primary btn-sm">Modifier</a>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>