<div class="d-flex justify-content-center">
    <div class="table-responsive" style="max-height: 300px; max-width: 50%; overflow-y: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>eleve_id</th>
                    <th>autoecole_id</th>
                    <th>login</th>
                    <th>password</th>
                    <th>naissance</th>
                    <th>rue</th>
                    <th>cp</th>
                    <th>ville</th>
                    <th>date_inscription</th>
                    <th>neph</th>
                    <th>note_etg</th>
                    <th>validation_etg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>Prénom.NOM</td>
                    <td>123456789</td>
                    <td>2005-01-12</td>
                    <td>3 rue des rougets</td>
                    <td>77580</td>
                    <td>crécy-la-chapelle</td>
                    <td>2025-03-11 11:28:25</td>
                    <td>18464</td>
                    <td>B</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>