<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<style>
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
<div>
    <div class="bg-info text-info">
        ah ah ah tu m'as trouver
    </div>
    <div class="bg-primary text-white text-start p-4">
        <p class="mb-0 anton-regular">Ce travail à été réalisé par Liam Cheurfa, Ken Dinh, Louis Lamoureux et Esteban Delvigne</p>      
    </div>
</div>