<div class="container d-flex justify-content-center align-items-center vh-100 p-3">
    <div class="card p-4 shadow-lg" style="max-width: 1000px; width: 100%;"> <!-- Carte agrandie -->
        <div class="row">
            <div class="col-md-2 d-flex justify-content-center p-3">
                <button class="btn btn-warning">Ajouter</button>
            </div>
            <div class="col-md-6 p-3">
                <div class="d-flex align-items-center bg-warning p-2 rounded">
                    <label class="me-2">Sélectioné la table à voir :</label>
                    <input type="text" class="form-control w-auto">
                </div>                
            </div>
        </div>
        <div class="row">
            <!-- Colonne pour le composant 3D -->
            <div class="col-md-8 d-flex align-items-center justify-content-center">
                <app-table></app-table>
            </div>
  
                <!-- Colonne pour les options de connexion -->
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <button>Supprimer</button>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <button>Modifier</button>
                </div>
            </div>
        </div>
    </div>
</div>