<div class="container d-flex justify-content-center align-items-center vh-100 p-3">
  <div class="card p-4 shadow-lg" style="max-width: 1200px; width: 100%;">
    <h3 class="text-center py-3 my-1 fw-bold text-warning bg-dark">Gestion des différentes table du site</h3>
    
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center p-3">
        <a [routerLink]="getAddRoute()" class="btn btn-warning">Ajouter</a>
      </div>
      <div class="col-md-6 p-3">
        <div class="d-flex align-items-center bg-warning p-2 rounded">
          <label class="me-2">Sélectionnez la table à voir :</label>
          <select class="form-select w-auto" (change)="changeTable($event)">
            <option *ngFor="let table of tables" [value]="table.key">{{ table.label | titlecase }}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Tableau avec boutons par ligne -->
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <app-table
            [data]="getSelectedTableData()"
            [selectedTable]="selectedTable"
            [getPutRoute]="getPutRoute.bind(this)"
            (delete)="onDelete($event)">
          </app-table>
        </div>
      </div>
    </div>
    <h5 *ngIf="message.includes('succès')" class="text-success">{{ message }}</h5>
    <h5 *ngIf="!message.includes('succès')" class="text-danger">{{ message }}</h5>
  </div>
</div>