<div class="container mt-5">
  <h2>Modifier une simulation</h2>
  <form [formGroup]="putSimulationForm" class="container mx-auto py-3">
    
    <div class="formGroup">
      <label for="simulation_id">ID:</label>
      <input type="number" id="simulation_id" formControlName="simulation_id" class="form-control" [value]="simulation.simulation_id" />
    </div>

    <div class="formGroup">
      <label for="examen_id">Examen:</label>
      <div class="input-group">
        <select class="custom-select" id="examenSelect" formControlName="examen_id">
          <option selected>Choisir une option...</option>
          <option [value]="item.examen_id" *ngFor="let item of listeExamen">{{ item.date }}</option>
        </select>
      </div>
    </div>

    <div class="formGroup">
      <label for="date">Date de la simulation:</label>
      <input type="datetime-local" id="date" formControlName="date" class="form-control" [value]="simulation.date"/>
    </div>

    <div class="formGroup">
      <label for="validation">Validation Examen:</label>
      <input type="checkbox" id="validation" formControlName="validation" class="form-check-input mx-3" />
    </div>
    
    <button type="submit" class="col-3 btn btn-primary my-3 mx-3" (click)="putSimulation()">Valider</button>
    <h5 *ngIf="message.includes('succès')" class="text-success">{{ message }}</h5>
    <h5 *ngIf="!message.includes('succès')" class="text-danger">{{ message }}</h5>
  </form>
</div>