<div class="container mt-5">
    <h2>Modifier un élève</h2>
  
    <!-- Formulaire pour ajouter l'élève -->
    <form [formGroup]="putEleveForm" class="container mx-auto py-3">
      
        
          <div class="formGroup">
            <label for="login">Login:</label>
            <input
              type="text"
              id="login"
              formControlName="login"
              class="form-control"
            />
          
        </div>
  
        
          <div class="formGroup">
            <label for="password">Mot de passe:</label>
            <input
              type="text"
              id="password"
              formControlName="password"
              class="form-control"
            />
          
      </div>
  
      
        
          <div class="formGroup">
            <label for="birthday">Date de Naissance:</label>
            <input
              type="date"
              id="birthday"
              formControlName="birthday"
              class="form-control"
            />
          
        </div>
  
        
          <div class="formGroup">
            <label for="rue">Rue:</label>
            <input
              type="text"
              id="rue"
              formControlName="rue"
              class="form-control"
            />
         
      </div>
  
      
        
          <div class="formGroup">
            <label for="cp">Code Postal:</label>
            <input
              type="text"
              id="cp"
              formControlName="cp"
              class="form-control"
            />
         
      </div>
  
      
        
          <div class="formGroup">
            <label for="ville">Ville:</label>
            <input
              type="text"
              id="ville"
              formControlName="ville"
              class="form-control"
            />
          
      </div>
  
      
        
          <div class="formGroup">
            <label for="dateInscription">Date d'inscription:</label>
            <input
              type="datetime-local"
              id="dateInscription"
              formControlName="dateInscription"
              class="form-control"
            />
        
      </div>
  
      
        
          <div class="formGroup">
            <label for="neph">Code Neph:</label>
            <input
              type="text"
              id="neph"
              formControlName="neph"
              class="form-control"
            />
         
      </div>
  
      
        
          <div class="formGroup">
            <label for="etg">Note ETG:</label>
            <input
              type="text"
              id="etg"
              formControlName="etg"
              class="form-control"
            />
       
      </div>
  
      
        
          <div class="formGroup">
            <label for="valietg">Validation ETG:</label>
            <input
              type="checkbox"
              id="valietg"
              formControlName="valietg"
              class="form-check-input mx-3" 
            />
        
      </div>
  
      <button type="submit" class="col-3 btn btn-primary my-3 mx-3" (click)="putEleve()">Valider</button>
    </form>
  </div>

