<form [formGroup]="loginEleveForm">
  <h2>Connexion Élève</h2>
  <div class="formGroup pt-1 pb-1">
    <label for="login">Login</label>
    <input type="text" class="form-control" id="login" formControlName="login">
  </div>
  <div class="formGroup pt-1 pb-1">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
  <div class="pt-1 pb-1">
    <button type="button" class="btn btn-primary" (click)="login()">Submit</button>
    <h5 class="text-danger">{{ message }}</h5>
  </div>
</form>